# Các thư viện

In [1]:
import pandas as pd

# Đọc dữ liệu

In [5]:
weather_df = pd.read_csv('data/raw/daily_weather_data.csv')
weather_df.head(5)

,date,country,city,Latitude,Longitude,tavg,tmin,tmax,wdir,wspd,pres
0,21-07-2018,Abkhazia,Sukhumi,43.001525,41.023415,23.4,20.9,25.5,329.0,9.3,1009.6
1,22-07-2018,Abkhazia,Sukhumi,43.001525,41.023415,23.5,21.0,25.7,337.0,9.4,1010.0
2,23-07-2018,Abkhazia,Sukhumi,43.001525,41.023415,23.5,21.1,25.5,41.0,8.2,1007.7
3,24-07-2018,Abkhazia,Sukhumi,43.001525,41.023415,24.3,20.8,27.1,10.0,9.3,1004.4
4,25-07-2018,Abkhazia,Sukhumi,43.001525,41.023415,26.5,22.7,30.0,9.0,9.7,1002.0

# Thông tin về dataset

In [15]:
num_rows, num_cols = weather_df.shape
print('Số dòng: {}\nSố cột: {}'.format(num_rows, num_cols))

Số dòng: 324647
Số cột: 11

# Chuyển cột __date__ sang kiểu _datetime_

### Kiểu ban đầu

In [8]:
weather_df["date"].dtypes

dtype('<M8[ns]')

### Chuyển sang _datetime_

In [6]:
weather_df['date']= pd.to_datetime(weather_df['date'])
weather_df['date'].dtypes # '<M8[ns]' is datetime64[ns]

dtype('<M8[ns]')

# Loại bỏ các dòng chứa các giá trị thiếu

Có 5 cột chứa giá trị rỗng: <span style="color: yellow;"> wdir, pres, wspd, tmax, tmin, tavg</span> (ta sẽ lưu tạm vào biến __numeric_cols__). Các cột còn lại không mô tả thông số về thời tiết nên tạm thời chưa nhắc đến.
Ta sẽ xử lý như sau:
- Xóa các dòng thiếu tất cả các giá trị của các cột trên.
- Khúc này bí, ???

In [23]:
numeric_cols = ['tavg','tmin','tmax','wdir','wspd','pres']

### Số dòng chứa giá trị rỗng bất kì

In [18]:
any_nan = len(weather_df[weather_df.isnull().any(axis=1)])
print(f"Phần trăm các-dòng-thiếu/tổng-số-dòng: {round(any_nan * 100 / num_rows, 2)} %")

Phần trăm các-dòng-thiếu/tổng-số-dòng: 14.51 %

Số dòng thiếu khá lớn, không thể xóa hết đi được

### Các dòng thiếu tất cả giá trị quan trọng

In [24]:
weather_df[weather_df[numeric_cols].isnull().all(axis=1)]

,date,country,city,Latitude,Longitude,tavg,tmin,tmax,wdir,wspd,pres
1413,2022-03-06,Abkhazia,Sukhumi,43.001525,41.023415,NaN,NaN,NaN,NaN,NaN,NaN
1414,2022-04-06,Abkhazia,Sukhumi,43.001525,41.023415,NaN,NaN,NaN,NaN,NaN,NaN
1415,2022-05-06,Abkhazia,Sukhumi,43.001525,41.023415,NaN,NaN,NaN,NaN,NaN,NaN
1416,2022-06-06,Abkhazia,Sukhumi,43.001525,41.023415,NaN,NaN,NaN,NaN,NaN,NaN
1417,2022-07-06,Abkhazia,Sukhumi,43.001525,41.023415,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
323970,2020-04-12,Western Sahara,El Aaiún,27.125287,-13.162500,NaN,NaN,NaN,NaN,NaN,NaN
323984,2020-12-18,Western Sahara,El Aaiún,27.125287,-13.162500,NaN,NaN,NaN,NaN,NaN,NaN
323997,2020-12-31,Western Sahara,El Aaiún,27.125287,-13.162500,NaN,NaN,NaN,NaN,NaN,NaN
324133,2021-05-16,Western Sahara,El Aaiún,27.125287,-13.162500,NaN,NaN,NaN,NaN,NaN,NaN
324490,2022-08-05,Western Sahara,El Aaiún,27.125287,-13.162500,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
all_nan = len(weather_df[weather_df[numeric_cols].isnull().all(axis=1)])
print(f"Phần trăm các-dòng-thiếu/tổng-số-dòng: {round(all_nan * 100 / num_rows, 2)} %")

Phần trăm các-dòng-thiếu/tổng-số-dòng: 2.29 %

### Phần trăm khá nhỏ, ta có thể xóa đi những dòng này:

In [26]:
weather_df.dropna(subset=numeric_cols, how='all', axis='index', inplace=True)
weather_df.shape

(317211, 11)

# Lưu dataset

Lưu tại <span style='color:red;'>./data/cleaned/daily_weather_data.csv</span>

In [27]:
weather_df.to_csv('./data/cleaned/daily_weather_data.csv', index=False, encoding='utf-8')